
<h1>KAIJU ATTACK</h1>

<table>
  <%@posts.each do |p| %>
    <tr>
      <td> 
          
          <h2>
            <%= link_to p.title, post_path(p) %>

            
          </h2>
          
          <h3>Posted at <%= time_ago_in_words(p.created_at) %> ago by 
            <%= p.user.email %>
            <%= link_to "Delete", post_path(p),:method => :delete %> 
          </h3> 

      </td>
    </tr>
  <% end %>
</table>



