
<h1>KAIJU ATTACK</h1>


<table>
  <% @posts.each do |p| %>
  
    <tr>
      
      <td>
        <%= p.title %>
        
        <%= link_to "Show & Edit", post_path(p), :class =>"btn btn-info" %>
       
        <%= link_to "Delete", post_path(p), :method => :delete ,:class =>"btn btn-danger" %>
      </td>
    
    </tr>

  <% end %>

  
</table>



<%=link_to "New Post",new_post_path %>